<div class="container">
  <div class="topnav" style="background-color: #ccc; border-bottom:5px solid gray; padding:10px;">
    <div class="logo" style="display: inline-block; vertical-align:middle; margin-right:50px">
      <img src="http://www.clarksnacks.com/images/Clark'sTrans.gif" style="width: 125px" />
    </div>
    <div style="display: inline-block;vertical-align:middle">
      <span style="font-family:'Arial Rounded MT'; font-size:35px; color:#ececec; text-shadow: 2px 2px 2px gray;">Materials Tracking System</span>
    </div>
  </div>
</div>
<p-menubar [model]="items"></p-menubar>
