################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClarkSnacks.MTS.Web/obj
/ClarkSnacks.MTS.API/bin/Debug/netcoreapp3.1
/ClarkSnacks.MTS.API/obj
/ClarkSnacks.MTS.API/Properties
/ClarkSnacks.MTS.Domain/bin/Debug/netcoreapp3.1
/ClarkSnacks.MTS.Domain/obj
/ClarkSnacks.MTS.EntityFramework/bin/Debug/netcoreapp3.1
/ClarkSnacks.MTS.EntityFramework/obj
