<h2>Material Inspection Form</h2>

<p>Please provide the following inspection information.</p>

<form #inspectionform>

  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="ApprovedSupplier">Supplier of the materials you need inspected: </label>
      </div>
      <div class="ui-g-8">
        <p-dropdown name="Supplier" [options]="supplierOptions" [(ngModel)]="selectedSupplier"></p-dropdown>       
      </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-4"><label for="ApprovedSupplier">The selected supplier is an approved supplier?</label></div>
        <div class="ui-g-8"><p-inputSwitch name="ApprovedSupplier" [(ngModel)]="checked"></p-inputSwitch></div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="Item">Item that requires inspection: </label>
      </div>
      <div class="ui-g-8">
        <p-dropdown name="Item" [options]="supplierOptions" [(ngModel)]="selectedSupplier"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="Item">Date Material Received: </label>
      </div>
      <div class="ui-g-8">
        <p-calendar [(ngModel)]="value"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="Item">BOL/Shipment#: </label>
      </div>
      <div class="ui-g-8">
        <input #bolshipmentnumber type="text" pInputText />
      </div>
    </div>
  </div>

    <div>
      <p>Please answer the following inspection questions with a Yes, NO or N/A.</p>

      <table>
        <thead>
          <tr>
            <th></th>
            <th style="text-align: left">Requirement</th>
            <th style="text-align: left">Result</th>
          </tr>
        </thead>
        <tr>
          <td>1.</td>
          <td>Is the trailer inspection complete and the trailer acceptable for receipt? </td>
          <td style="white-space:nowrap">
            <p-selectButton name="Q1" [options]="resultOptions" [(ngModel)]="selectedQ1Option"></p-selectButton>
            <!--<p-inputSwitch name="Q1" [(ngModel)]="q1Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Is the load in good condition (no damage, stretch wrap intact, no signs of pest activity or water damage)? </td>
          <td>
            <p-selectButton name="Q2" [options]="resultOptions" [(ngModel)]="selectedQ2Option"></p-selectButton>
            <!--<p-inputSwitch name="Q2" [(ngModel)]="q2Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>3.</td>
          <td>Is the quantity adequate to the quantity ordered? (Clark’s Purchased Items Only)  </td>
          <td>
            <p-selectButton name="Q3" [options]="resultOptions" [(ngModel)]="selectedQ3Option"></p-selectButton>
            <!--<p-inputSwitch name="Q3" [(ngModel)]="q3Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Do the item numbers, quantities, tracking numbers (lot) of physical receipt match the Bill of Lading?  </td>
          <td>
            <p-selectButton name="Q4" [options]="resultOptions" [(ngModel)]="selectedQ4Option"></p-selectButton>
            <!--<p-inputSwitch name="Q4" [(ngModel)]="q4Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Are the individual cases of bags marked with item number and tracking number (lot)?  </td>
          <td>
            <p-selectButton name="Q5" [options]="resultOptions" [(ngModel)]="selectedQ5Option"></p-selectButton>
            <!--<p-inputSwitch name="Q5" [(ngModel)]="q5Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>6.</td>
          <td>Is a Certificate of Conformance available for each item & lot on the shipment?  </td>
          <td>
            <p-selectButton name="Q6" [options]="resultOptions" [(ngModel)]="selectedQ6Option"></p-selectButton>
            <!--<p-inputSwitch name="Q6" [(ngModel)]="q6Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>7.</td>
          <td>Is the C of C acceptable? </td>
          <td>
            <p-selectButton name="Q7" [options]="resultOptions" [(ngModel)]="selectedQ7Option"></p-selectButton>
            <!--<p-inputSwitch name="Q7" [(ngModel)]="q7Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>8.</td>
          <td>3 samples have been collected from each item?</td>
          <td>
            <p-selectButton name="Q8" [options]="resultOptions" [(ngModel)]="selectedQ8Option"></p-selectButton>
            <!--<p-inputSwitch name="Q8" [(ngModel)]="q8Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>9.</td>
          <td>Does the bag printing match the standard on file, in regards to quality (print is clear and readable) & accuracy (print is identical to standard)? </td>
          <td>
            <p-selectButton name="Q9" [options]="resultOptions" [(ngModel)]="selectedQ9Option"></p-selectButton>
            <!--<p-inputSwitch name="Q9" [(ngModel)]="q9Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td>10.</td>
          <td>Does the bag construction match the standard on file, in regards to physical characteristics (paper type, size) functionality (gusset, glue, bottom seal)?</td>
          <td>
            <p-selectButton name="Q10" [options]="resultOptions" [(ngModel)]="selectedQ10Option"></p-selectButton>
            <!--<p-inputSwitch name="Q10" [(ngModel)]="q10Checked"></p-inputSwitch>-->
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button type="button" pButton icon="fa fa-times" (click)="cancel()" label="Cancel"></button>&nbsp;
            <button type="submit" pButton icon="fa fa-check" [disabled]="" label="Save"></button>
          </td>
        </tr>
      </table>
    </div>

</form>
