<h2>Material Inspection Form</h2>

<p style="font-weight:bold"><span class="ui-state-default fa fa-arrow-circle-right"></span> Please provide the following inspection information.</p>

<form #inspectionform>

  <div class="ui-g" style="background-color: #ececec; border-radius:5px;">
    <div class="ui-g-12">
      <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
        <label for="Supplier">Supplier of the materials that need inspected: </label>
      </div>
      <div class="ui-g-2 ui-lg-3 ui-md-6 ui-sm-12">
        <p-dropdown name="Supplier" [options]="supplierOptions" [(ngModel)]="selectedSupplier"></p-dropdown>
      </div>
      <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
        <label for="ApprovedSupplier">Is the selected supplier is an approved supplier?</label>
      </div>
      <div class="ui-g-4 ui-lg-3 ui-md-6 ui-sm-12">
        <p-inputSwitch name="ApprovedSupplier" [(ngModel)]="checked"></p-inputSwitch>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
        <label for="Item">Item type that requires inspection: </label>
      </div>
      <div class="ui-g-2 ui-lg-3 ui-md-6 ui-sm-12">
        <p-dropdown name="Item" [options]="itemTypeOptions" [(ngModel)]="selectedItemType"></p-dropdown>
      </div>
      <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
        <label for="Item">Date material received: </label>
      </div>
      <div class="ui-g-4 ui-lg-3 ui-md-6 ui-sm-12">
        <p-calendar name="DateReceived" [(ngModel)]="value" showIcon="true" readonlyInput="true"></p-calendar>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
        <label for="Item">BOL/Shipment Number: </label>
      </div>
      <div class="ui-g-2 ui-lg-3 ui-md-6 ui-sm-12">
        <input #bolshipmentnumber type="text" pInputText />
      </div>
      <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
        <label for="Item">Lot Number: </label>
      </div>
      <div class="ui-g-2 ui-lg-3 ui-md-6 ui-sm-12">
        <input #lotnumber type="text" pInputText />
      </div>
    </div>

  </div>

  <div *ngIf="selectedItemType.code">
    <p style="font-weight:bold">
      <span class="ui-state-default fa fa-arrow-circle-right"></span>
      Please answer the following {{selectedItemType.code}} inspection questions with a Yes, No or N/A.
    </p>
  </div>

  <div style="background-color: #ececec; border-radius: 5px">

    <div class="ui-g" *ngIf="selectedItemType.code == 'bag'">

      <div class="ui-g-12">
        <div class="ui-g-8">Is the trailer inspection complete and the trailer acceptable for receipt? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q1" [options]="resultOptions" [(ngModel)]="selectedQ1Option"></p-selectButton>
          <!--<p-inputSwitch name="Q1" [(ngModel)]="q1Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the load in good condition (no damage, stretch wrap intact, no signs of pest activity or water damage)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q2" [options]="resultOptions" [(ngModel)]="selectedQ2Option"></p-selectButton>
          <!--<p-inputSwitch name="Q2" [(ngModel)]="q2Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the quantity adequate to the quantity ordered? (Clark’s Purchased Items Only)?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q3" [options]="resultOptions" [(ngModel)]="selectedQ3Option"></p-selectButton>
          <!--<p-inputSwitch name="Q3" [(ngModel)]="q3Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Do the item numbers, quantities, tracking numbers (lot) of physical receipt match the Bill of Lading?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q4" [options]="resultOptions" [(ngModel)]="selectedQ4Option"></p-selectButton>
          <!--<p-inputSwitch name="Q4" [(ngModel)]="q4Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Are the individual cases of bags marked with item number and tracking number (lot)?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q5" [options]="resultOptions" [(ngModel)]="selectedQ5Option"></p-selectButton>
          <!--<p-inputSwitch name="Q5" [(ngModel)]="q5Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is a Certificate of Conformance available for each item & lot on the shipment?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q6" [options]="resultOptions" [(ngModel)]="selectedQ6Option"></p-selectButton>
          <!--<p-inputSwitch name="Q6" [(ngModel)]="q6Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the Certificate of Conformance acceptable? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q7" [options]="resultOptions" [(ngModel)]="selectedQ7Option"></p-selectButton>
          <!--<p-inputSwitch name="Q7" [(ngModel)]="q7Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Have 3 samples been collected from each item?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q8" [options]="resultOptions" [(ngModel)]="selectedQ8Option"></p-selectButton>
          <!--<p-inputSwitch name="Q8" [(ngModel)]="q8Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the bag printing match the standard on file, in regards to quality (print is clear and readable) & accuracy (print is identical to standard)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q9" [options]="resultOptions" [(ngModel)]="selectedQ9Option"></p-selectButton>
          <!--<p-inputSwitch name="Q9" [(ngModel)]="q9Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the bag construction match the standard on file, in regards to physical characteristics (paper type, size) functionality (gusset, glue, bottom seal)?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q10" [options]="resultOptions" [(ngModel)]="selectedQ10Option"></p-selectButton>
          <!--<p-inputSwitch name="Q10" [(ngModel)]="q10Checked"></p-inputSwitch>-->
        </div>
      </div>

    </div>

    <div class="ui-g" *ngIf="selectedItemType.code == 'carton'">

      <div class="ui-g-12">
        <div class="ui-g-8">Is the trailer inspection complete and the trailer acceptable for receipt? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q1" [options]="resultOptions" [(ngModel)]="selectedQ1Option"></p-selectButton>
          <!--<p-inputSwitch name="Q1" [(ngModel)]="q1Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the load in good condition (no damage, stretch wrap intact, no signs of pest activity or water damage)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q2" [options]="resultOptions" [(ngModel)]="selectedQ2Option"></p-selectButton>
          <!--<p-inputSwitch name="Q2" [(ngModel)]="q2Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the quantity adequate to the quantity ordered? (Clark’s Purchased Items Only)?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q3" [options]="resultOptions" [(ngModel)]="selectedQ3Option"></p-selectButton>
          <!--<p-inputSwitch name="Q3" [(ngModel)]="q3Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Do the item numbers and quantities of physical receipt match the Bill of Lading?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q4" [options]="resultOptions" [(ngModel)]="selectedQ4Option"></p-selectButton>
          <!--<p-inputSwitch name="Q4" [(ngModel)]="q4Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Are the individual cases of cartons marked with item number?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q5" [options]="resultOptions" [(ngModel)]="selectedQ5Option"></p-selectButton>
          <!--<p-inputSwitch name="Q5" [(ngModel)]="q5Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Have 3 samples been collected from each item?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q8" [options]="resultOptions" [(ngModel)]="selectedQ8Option"></p-selectButton>
          <!--<p-inputSwitch name="Q8" [(ngModel)]="q8Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the carton printing match the standard on file, in regards to quality (print is clear and readable) & accuracy (print is identical to standard, especially net weight & allergen/ingredient statements)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q9" [options]="resultOptions" [(ngModel)]="selectedQ9Option"></p-selectButton>
          <!--<p-inputSwitch name="Q9" [(ngModel)]="q9Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the carton construction match the standard on file, in regards to physical characteristics (paper type, size, coatings) and functionality (flaps, glue, scoring)?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q10" [options]="resultOptions" [(ngModel)]="selectedQ10Option"></p-selectButton>
          <!--<p-inputSwitch name="Q10" [(ngModel)]="q10Checked"></p-inputSwitch>-->
        </div>
      </div>

    </div>

    <div class="ui-g" *ngIf="selectedItemType.code == 'overwrap film'">

      <div class="ui-g-12">
        <div class="ui-g-8">Is the trailer inspection complete and the trailer acceptable for receipt? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q1" [options]="resultOptions" [(ngModel)]="selectedQ1Option"></p-selectButton>
          <!--<p-inputSwitch name="Q1" [(ngModel)]="q1Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the load in good condition (no damage, stretch wrap intact, no signs of pest activity or water damage)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q2" [options]="resultOptions" [(ngModel)]="selectedQ2Option"></p-selectButton>
          <!--<p-inputSwitch name="Q2" [(ngModel)]="q2Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the quantity adequate to the quantity ordered? (Clark’s Purchased Items Only)?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q3" [options]="resultOptions" [(ngModel)]="selectedQ3Option"></p-selectButton>
          <!--<p-inputSwitch name="Q3" [(ngModel)]="q3Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Do the item numbers, quantities, tracking numbers (lot) of physical receipt match the Bill of Lading?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q4" [options]="resultOptions" [(ngModel)]="selectedQ4Option"></p-selectButton>
          <!--<p-inputSwitch name="Q4" [(ngModel)]="q4Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Are the cores marked with item number and quantity?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q5" [options]="resultOptions" [(ngModel)]="selectedQ5Option"></p-selectButton>
          <!--<p-inputSwitch name="Q5" [(ngModel)]="q5Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Have 3 samples been collected from each item?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q8" [options]="resultOptions" [(ngModel)]="selectedQ8Option"></p-selectButton>
          <!--<p-inputSwitch name="Q8" [(ngModel)]="q8Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the overwrap printing match the standard on file, in regards to quality (print is clear and readable) & accuracy (print is identical to standard, especially net weight & allergen/ingredient statements)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q9" [options]="resultOptions" [(ngModel)]="selectedQ9Option"></p-selectButton>
          <!--<p-inputSwitch name="Q9" [(ngModel)]="q9Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the overwrap construction match the standard on file, in regards to physical characteristics (film type, size, coatings) and functionality (seal area free of coating, wind direction is correct)?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q10" [options]="resultOptions" [(ngModel)]="selectedQ10Option"></p-selectButton>
          <!--<p-inputSwitch name="Q10" [(ngModel)]="q10Checked"></p-inputSwitch>-->
        </div>
      </div>

    </div>

    <div class="ui-g" *ngIf="selectedItemType.code == 'contact film'">

      <div class="ui-g-12">
        <div class="ui-g-8">Is the trailer inspection complete and the trailer acceptable for receipt? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q1" [options]="resultOptions" [(ngModel)]="selectedQ1Option"></p-selectButton>
          <!--<p-inputSwitch name="Q1" [(ngModel)]="q1Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the load in good condition (no damage, stretch wrap intact, no signs of pest activity or water damage)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q2" [options]="resultOptions" [(ngModel)]="selectedQ2Option"></p-selectButton>
          <!--<p-inputSwitch name="Q2" [(ngModel)]="q2Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the quantity adequate to the quantity ordered? (Clark’s Purchased Items Only)?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q3" [options]="resultOptions" [(ngModel)]="selectedQ3Option"></p-selectButton>
          <!--<p-inputSwitch name="Q3" [(ngModel)]="q3Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Do the item numbers, quantities, tracking numbers (lot) of physical receipt match the Bill of Lading?  </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q4" [options]="resultOptions" [(ngModel)]="selectedQ4Option"></p-selectButton>
          <!--<p-inputSwitch name="Q4" [(ngModel)]="q4Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Are the rolls marked with item number, tracking number and quantity of impressions?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q5" [options]="resultOptions" [(ngModel)]="selectedQ5Option"></p-selectButton>
          <!--<p-inputSwitch name="Q5" [(ngModel)]="q5Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is a Certificate of Conformance available for each item & lot on the shipment?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q8" [options]="resultOptions" [(ngModel)]="selectedQ8Option"></p-selectButton>
          <!--<p-inputSwitch name="Q8" [(ngModel)]="q8Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Is the Certificate of Conformance acceptable?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q8" [options]="resultOptions" [(ngModel)]="selectedQ8Option"></p-selectButton>
          <!--<p-inputSwitch name="Q8" [(ngModel)]="q8Checked"></p-inputSwitch>-->
        </div>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-8">Has 1 impression been collected for each item?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q8" [options]="resultOptions" [(ngModel)]="selectedQ8Option"></p-selectButton>
          <!--<p-inputSwitch name="Q8" [(ngModel)]="q8Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the film printing match the standard on file, in regards to quality (print is clear and readable) & accuracy (print is identical to standard)?</div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q9" [options]="resultOptions" [(ngModel)]="selectedQ9Option"></p-selectButton>
          <!--<p-inputSwitch name="Q9" [(ngModel)]="q9Checked"></p-inputSwitch>-->
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-8">Does the film construction match the standard on file, in regards to physical characteristics (film type, width, thickness)? </div>
        <div class="ui-g-3" style="white-space: nowrap">
          <p-selectButton name="Q10" [options]="resultOptions" [(ngModel)]="selectedQ10Option"></p-selectButton>
          <!--<p-inputSwitch name="Q10" [(ngModel)]="q10Checked"></p-inputSwitch>-->
        </div>
      </div>

    </div>

    <div class="ui-g-12" style="text-align: right" *ngIf="selectedItemType.code">
      <div class="ui-g-1"></div>
      <div class="ui-g-8"></div>
      <div class="ui-g-3" style="white-space: nowrap">
        <!--<button type="button" pButton icon="fa fa-times" (click)="cancel()" label="Cancel"></button>&nbsp;-->
        <button type="button" pButton icon="fa fa-arrow-circle-right" label="Continue" (click)="continue()"></button>
      </div>
    </div>

  </div>

</form>

<p-dialog header="Confirm Inspection" [(visible)]="displayDialog" [focusOnShow]="true" [responsive]="true" showEffect="fade" [modal]="true">
  <form>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name">Select an inspection result:</label>
        </div>
        <div class="ui-g-8">
          <span style="font-size:12px; font-weight: bold">{{resultDescription}}</span>
          <p-selectButton name="InspectionResult" [options]="overallResultOptions" [(ngModel)]="selectedOverallResult" (onChange)="showDescription($event)"></p-selectButton>
        </div>
      </div>
      <div *ngIf="selectedOverallResult.code == 'rejected' || selectedOverallResult.code == 'deviation'">
        <p style="font-weight: bold">Please provide the additional information below.</p>
      </div>
      <div class="ui-g-12" *ngIf="selectedOverallResult.code == 'rejected'">
        <div class="ui-g-4">
          <label for="name">Disposition:</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown name="Disposition" [options]="dispositionOptions" [(ngModel)]="selectedSupplier"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12" *ngIf="selectedOverallResult.code == 'deviation'">
        <div class="ui-g-4">
          <label for="name">Deviation #:</label>
        </div>
        <div class="ui-g-8">
          <input #deviationnumber type="text" pInputText />
        </div>
      </div>
      <div class="ui-g-12" *ngIf="selectedOverallResult.code == 'rejected' || selectedOverallResult.code == 'deviation'">
        <div class="ui-g-4">
          <label for="name">Hold Status:</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown name="HoldStatus" [options]="holdStatusOptions" [(ngModel)]="selectedSupplier"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12" *ngIf="selectedOverallResult && selectedOverallResult.code != 'accepted'">
        <div class="ui-g-4">
          <label for="name">Measure(s) to prevent release:</label>
        </div>
        <div class="ui-g-8">
          <textarea pInputTextarea></textarea>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button type="button" pButton icon="fa fa-times" label="Cancel" (click)="cancel()"></button>&nbsp;
    <button type="button" pButton icon="fa fa-check" label="Save" (click)="save()"></button>
  </p-footer>
</p-dialog>


