label
{
  font-weight:bold;
}

/deep/.ui-sortable-column {
  padding:10px;
  background-color: #430606;
  color: #fff;
}

/deep/ .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color:#808080;
  border-top: 1px solid #000000;
}

/deep/ .search-button{
  width: 150px;
  margin: 3px 3px !important;
}

/deep/ body .ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #fff;
}
