<p-toast position="top-right"></p-toast>
<!--<h3>Lot Tracking Form</h3>-->

<form [formGroup]="lotTrackingForm" (ngSubmit)="onSubmit(lotTrackingForm.value)">
  <p><span class="ui-state-default fa fa-arrow-circle-right"></span> Please provide the following information to process a Lot.</p>
  <div class="ui-g" style="background-color: #ececec; border-radius:5px; padding: 15px;">

    <div class="ui-g-12" style="padding-top:0px">
      <div class="ui-g-2" style="padding-top:0px">
        <label for="Operator">1. Operator  (Line {{productionLine}}): </label>
      </div>
      <div class="ui-g-10" style="padding-top:0px">

        <p-dropdown formControlName="operator" filter="true" name="Operator" (onChange)="operatorChange($event)" [options]="operatorOptions"></p-dropdown>&nbsp;

        <!--<label for="Supplier" style="font-weight: normal">Line: </label> <span style="color: blue">{{productionLine}}</span>-->
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="Supplier">2. Material Category: </label>
      </div>
      <div class="ui-g-10">
        <p-dropdown [disabled]="!selectedOperator" formControlName="materialCategory" filter="true" name="MaterialCategory" (onChange)="materialCategoryChange($event)" [options]="materialCategoryOptions"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="Items">3. Item: </label>        
      </div>
      <div class="ui-g-10">
        <p-dropdown [disabled]="!selectedMaterialCategory" formControlName="item" filter="true" (onChange)="itemChange($event)" [options]="itemOptions"></p-dropdown>&nbsp;
        <button *ngIf="selectedMaterialCategory" class="ui-button-rounded ui-button-warning" style="width:150px; color: #FFF" type="button" pButton icon="fa fa-search" label="Find Item No." (click)="showLabelInfo()"></button>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="Items">4. Lot Number:</label>
      </div>
      <div class="ui-g-10">
        <p-dropdown [disabled]="!selectedItem" formControlName="lotNumber" filter="true" [options]="lotOptions" [editable]="true" (onChange)="lotNumberChange($event)"></p-dropdown>&nbsp;
        <button *ngIf="selectedItem" class="ui-button-rounded ui-button-warning" style="width:150px; color: #FFF" type="button" pButton icon="fa fa-search" label="Find Lot No." (click)="showLabelInfo()"></button>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="lastCaseOnPalette">5. Last case on the pallette?:</label>
      </div>
      <div class="ui-g-10">
        <p-inputSwitch [disabled]="!selectedLotNumber" formControlName="lastCaseOnPalette" [(ngModel)]="lastCaseOnPaletteChecked">></p-inputSwitch>
      </div>
    </div>
    <div class="ui-g-12" style="text-align:right">
      <button class="ui-button-rounded" type="submit" pButton icon="fa fa-arrow-circle-right" label="Log Lot"
              [ngClass]="{'ui-button-success':lotTrackingForm.valid,'ui-button-secondary':!lotTrackingForm.valid}" [disabled]="!lotTrackingForm.valid"></button>
    </div>
  </div>

  <p-dialog header="Supplier Label Information" [(visible)]="displayDialog" [focusOnShow]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '90%'}">
    <p-carousel [value]="supplierShippingLabelImages">
      <!--<p-header>
        <h3>Supplier Labels</h3>
      </p-header>-->
      <ng-template let-label pTemplate="item">
        <div class="label-details">
          <div class="p-grid p-nogutter">
            <div class="p-col-12 label-data">
              <div class="label-title">{{label.title}}</div>
              <!--<div class="label-buttons">
                <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
              </div>-->
            </div>
            <div class="p-col-12">
              <img src="assets/supplier-labels/label-{{label.previewImageSrc}}.png" style="height:300px" alt="{{label.alt}}" />
            </div>

          </div>
        </div>
      </ng-template>
    </p-carousel>

    <p-footer>
      <div class="p-grid">
        <div class="p-col-4" style="margin: 10px; padding:0"><h4>Legend:</h4></div>
        <div class="p-col-2" style="margin: 10px;padding:0;background-color:#6ecd14; border-radius: 10px; color: #FFF; text-align: center"><h4>Item Number</h4></div>
        <div class="p-col-2" style="margin: 10px;padding:0;background-color:#f99b2b; border-radius: 10px; color: #FFF; text-align: center"><h4>Lot Number</h4></div>
        <div class="p-col p-align-center" style="margin: 10px;">
          <button type="button" pButton icon="fa fa-close" label="Close" (click)="closeLabelInfoDialog()"></button>
        </div>
      </div>
    </p-footer>

  </p-dialog>



  <div class="footer">
    <div style="display:inline-block; width: 50%">
      <label style="color: #fff; margin:0px 10px;">Recently Processed Lots</label>
    </div>
    <div style="display:inline-block; width: 50%; text-align:right">
      <label style="color: #fff; margin:0px 10px; font-weight: normal">Filter by: </label>
      <p-selectButton formControlName="filterLotLogBy" [options]="materialCategoryOptionsForLog" (onChange)="filterByMaterialCategory($event)"></p-selectButton>
    </div>
    <div>
      <p-table #dtLotLog [value]="lotLogs" [columns]="cols" dataKey="id" [responsive]="true" [scrollable]="true" scrollHeight="150px">
        <!--<ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dtLotLog.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>-->
        <ng-template pTemplate="loadingbody" let-columns="columns">
          <tr style="height:34px">
            <td *ngFor="let col of columns">
              <div class="loading-text"></div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align:center">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndexLot="rowIndex">
          <tr style="background-color: #ececec;">
            <td style="text-align:center">
              {{rowData.dateProcessed}}
            </td>
            <td style="text-align:center">
              {{rowData.processedByUserName}}
            </td>
            <td style="text-align:center">
              {{rowData.materialCategoryName}}
            </td>
            <td style="text-align:center;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              {{rowData.itemDescription}}
            </td>
            <td style="text-align:center">
              {{rowData.lotNumber}}
            </td>
            <td style="text-align:center">
              <button class="ui-button-rounded ui-button-danger" type="button" pButton icon="fa fa-trash" label="Delete" (click)="deleteProcessedLot(rowIndexLot)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td colspan="4">
              No lots have been logged today.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!--</p-sidebar>-->
  <!--Supplier Image-->
  <!--<p-galleria value="supplierShippingLabelImages" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="p-grid p-nogutter p-justify-center">
        <img [src]="item.thumbnailImageSrc" style="display: block;" />
      </div>
    </ng-template>
    <ng-template pTemplate="caption" let-item>
      <h4 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h4>
      <p>{{item.alt}}</p>
    </ng-template>
  </p-galleria>-->

</form>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
